services:
  postgres:
    build: .
    ports:
      - 5432:5432
    env_file:
      - .env
    networks:
      - postgres-network
    volumes:
      - postgres-data:/var/lib/postgresql/data/
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./exports/:/tmp/exports/
  
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 15432:80
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - postgres-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin/

volumes:
  postgres-data:
  pgadmin-data:

networks: 
  postgres-network:
    driver: bridge